#container {
    height: 100vh;
    width: 30vw;
    background-color: #181818;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .5s ease-in;
    z-index: 3;
}

#container[data-open="true"] {
    transform: translateX(0);
}

#controls {
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
    align-items: center;
    padding: 0 2vw;
    color: rgba(255, 255, 255, .87);
}

.sidebar_icon {
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #container {
        padding: 0 5vw;
        width: 100vw;
    }

    .sidebar_icon {
        width: 5vw;
        height: 5vw;
    }
}