#container {
  padding: 0 1.618rem;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#title {
  font-size: 1.618rem;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}

.sidebar_icon {
  width: 1.618rem;
  height: 1.618rem;
  cursor: pointer;
}

#lang_profile {
  display: flex;
  align-items: center;
}

#lang_profile p {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.75);
  margin-right: 1vmax;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .sidebar_icon {
    width: 5vw;
    height: 5vw;
  }
}
